.formal{
    font-weight: bold;
    font-family: Arial;
    font-size: 24pt;
    color: gray;
}

.list{
    font-style: italic;
    font-family: Times;
    font-size: 20pt;
    color: blue;
}

body{
    background-color: wheat;
}