body{
    background-color: lightgray;
    max-width: 500px;
    margin: auto;
}
#bullets{
    display: none;
}

.images{
    float: left;
    display: flex;
        

}
.kitchen{
    margin: 15px;
    padding: 5px;
    
}
.map{
    margin: 15px;
    padding: 5px;
}